.alert {
    display: flex;
    align-content: center;
    padding: 20px;
    color: #eee;
    width: 40%;
    margin: 20px auto 0px auto;
}

.alert-danger {
    background-color: #cc4c43;
    color: #eee;
}

.alert-success {
    background-color: #43cc81;
    color: #eee;
}
